<!DOCTYPE html>
<html>
  <head>
    <title>D.I.S.A</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= nav_bar fixed: :top do %>
      <%= menu_group do %>
          <%= menu_item "Home", "/" %>
	  <%= menu_item "Diseases", '#' %>
	  <%= menu_item "Diagnosis", '/conditions' %>
          <%= menu_item "About Us", '#' %>
          <%= menu_item "Contact", '#' %>
      <% end %>
      <% if current_admin %>
        <%= menu_item "Log Out", "#" %>
      <% end %>
  <% end %>
  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
  </body>
</html>
